.header {
    grid-area: h;
    display: grid;
    grid-template-columns: 1fr 0.7fr 2.3fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    grid-template-areas:
    "hl hw hw hr";
    background-color: #ffffff;
    border-bottom: 1px solid lightgray;
    padding: 5px 0;
}

.headerWrapper {
    grid-area: hw;
    /*max-width: 80%;*/
}

.headerWrapper img {
    height: 50px;
    /*padding-left: 26%;*/
    /*border-radius: 5px;*/
    /*background-color: white;*/
    /*width: 60px;*/
}
