.nav {
    grid-area: n;
}

.nav a {
    display: block;
    text-decoration: none;
    height: 1.5rem;
    line-height: 150%;
    color: black;
}

.nav a:hover {
    background-color: lightgray;
    border-radius: 3px;
}

.item {
    margin-bottom: 5px;
}

.active {
    display: block;
    height: 1.5rem;
    line-height: 150%;
    border-left: 2px solid aqua;
    background-color: lightgray;
    padding-left: 5px;
    border-radius: 3px;

}
