body {
    background-color: #EEF0F1;
}

.app-wrapper {
    margin: 0 auto;
    /*padding: 5px 20px;*/
    /*max-width: 1200px;*/
    /*width: 100%;*/
    display: grid;
    grid-template-areas:
        "h h h h"
        "bl n c br";
    /*grid-template-rows: 60px 1fr;*/
    /*grid-template-columns: 2fr 10fr;*/
    /*grid-gap: 20px;*/

    grid-template-columns: 1fr 0.4fr 2.6fr 1fr;
    grid-template-rows: 0.2fr 1.8fr;
    gap: 20px;
}

.app-wrapper-content {
    grid-area: c;
    border-radius: 3px;
    box-shadow: 0 0 2px 0 dimgray;
    background-color: #ffffff;
}
