body {
    background-color: #EEF0F1;
}

.app-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "h h h h"
        "bl n c br";
    grid-template-columns: 1fr 0.4fr 2.6fr 1fr;
    grid-template-rows: 0.2fr 1.8fr;
    gap: 20px;
}

.app-wrapper-content {
    grid-area: c;
    border-radius: 3px;
    box-shadow: 0 0 2px 0 dimgray;
    background-color: #ffffff;
}
