@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
    @apply p-1 m-1 hover:bg-gray-300 rounded flex items-center gap-1
}

.active {
    @apply bg-gray-300 border-l-2 border-purple-600;
}

.icon {
    @apply h-6 text-purple-600 mx-2;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block;
    color: #aaa;
}
