.dialogs {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    padding: 10px;
}

.dialogsItems {
    padding: 10px;
    border-right: 1px solid lightgray;

}

.dialog {
    margin-bottom: 10px;
    height: 1.5rem;
    line-height: 150%;
}

.dialog a {
    display: block;
    text-decoration: none;
    height: 1.5rem;
    line-height: 150%;
    color: black;
    padding-left: 5px;
}

.dialog a:hover {
    background-color: lightgray;
    border-radius: 3px;
}

.active {
    display: block;
    height: 1.5rem;
    line-height: 150%;
    border-left: 2px solid aqua;
    background-color: lightgray;
    padding-left: 5px;
    border-radius: 3px;
}

.messages {
    padding: 10px;
}

.message {

}
